:root {
    /* Colors */
    --primary-color: #252a2f;
    --secondary-color: #1e2225;
    --tertiary-color: #202023;
    --light-text-color: #ededee;
    --light-color: #d6e0ea;
    --dark-color: #343a40;
}

body, div, main, header, footer, section, h1, h2, h3 {
    margin: 0;
    padding: 0;
  }

header {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    z-index: 99;
}

main {
    padding-top: 50px;
    margin: 0 30px;
}

.about__container{
    margin-top: 60px;
}

body {
    margin-top: 70px ; 
    background-color: var(--primary-color);
    font-family: "Poppins", sans-serif;
    color: var(--light-text-color);
    font-style: normal;
    font-weight: 400;
}

section {
    border: 2px solid var(--secondary-color); 
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px #0000001a; 
    background-color: var(--tertiary-color);
}

footer {
    margin-top: 20px;
    background-color:rgb(19, 22, 21);
    color: whitesmoke;
    font-size: x-small;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.invisible {
    display: none;
}

.footer-icons a i {
    font-size: 2.4rem;
    color: white;
}

